body {
	background-image: linear-gradient(#ff66d9, white);
	font-family: sans-serif;
	font-size: 80px;
	height: 100vh;
}

h1 {
	font-size: 100px;
	background: -webkit-linear-gradient(black, #1a0033);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}